/*노말라이즈*/
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Nanum+Gothic&display=swap');

*{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none; color:inherit}

body{
  font-family: "Nanum Gothic", Georgia;
  font-size:14px;
  color:#111;
}
::placeholder{ /*placeholder 스타일 초기화*/
  font-family: "Nanum Gothidc";
  font-weight: 400;
  font-size: 14px;
  color:#666;
}

/*========================================*/
/*commons(공통속성)*/
.container{
  width: 1000px;
  margin: auto;
  padding: 100px 20px;
  box-sizing: border-box;
}
/*========================================*/
/*header===================*/
header{
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

header > .container{
  padding:24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: "Katibeh";
  font-weight: normal;
  font-size:42px;
  height: 20px;
  transform: translateY(-24px);
  letter-spacing: 2px;
}

/*nav===================*/
nav{
  display: flex;
}
nav > ul{
  display: flex;
}
.gnb > li{
  margin:0 20px;
  transform: translateY(3px);
}
.icon > li{
  margin:0 5px;
  font-size:20px;
}
/*nav-hover효과*/
nav li:hover,
nav li.active{
  color:orange;
}

/*상단배너===================*/
#banner{
  min-width: 1000px;
  height: 600px;
  background: url(../img/main.jpg) center/cover;
  color:#fff;
}
#banner h1{
  font-size:60px;
  font-weight: normal;
}
#banner h1 i{
  color: orange;
  padding-left:10px;
}
#banner h2{
  font-size:30px;
  margin:10px 0 40px;
}
#banner .btn a{
  display: inline-block;
  padding:8px 34px;
  border: 2px solid #fff;
  margin-right: 10px;
  transition: .3s;
}
/*banner-hover효과*/
#banner .btn a:hover{
  border-color: #fc0;
  color: #fc0;
}

/*works===================*/
#works{
  background-color: #fcd307;
  min-width: 1000px;
}
#works > .container{
  width:800px;
  padding:100px 0;
  display: flex;
}
#works .box{
  flex:1;
  text-align: center;

  animation:zoom .3s ease-out forwards;
}
#works .box img{
  border-radius: 50%;
}
#works .box h3{
  font-family: "Nanum Gothic";
  margin:20px 0 5px;
}

@keyframes zoom {
  0%{transform: scale(0.5);}
  100%{transform: scale(1);}
}

/*about===================*/
#about h1{
  font-size:60px;
  font-weight: normal;
}
#about h1 i{
  margin-right: 20px;
}
#about > .container >p{
  font-size: 18px;
  text-indent: 95px;
}
#about .member{
  display: flex;
  margin:60px 0;
  justify-content: space-around;
  text-align: center;
}
#about .member li{
  width: 200px;
}
#about .member h3{
  font-size: 14px;
  margin:20px 0 5px;
  letter-spacing: 2px;
}
#about .member p{
  color:#666;
  letter-spacing: 1px;
}
#about .txt{
  display: flex;
}
#about .txt li{
  padding:0 20px;
  text-align: justify;
  line-height: 1.4;
}

/*contact===================*/
#contact{
  min-width: 1000px;
  background-color: #333;
  color: #fff;
}

#contact h1{
  font-size:60px;
  font-weight: normal;
}
#contact h1 i{
  margin-right: 20px;
}
#contact > .container >p{
  font-size: 18px;
  text-indent: 95px;
}
#contact .contact-wrap{
  display:flex;
  margin-top: 80px;
}

.contact-wrap > div{
  width: 50%;
}
.contact-wrap > .address{
  box-sizing: border-box;
  padding-left: 95px;
}
.contact-wrap > .address > p{
  margin-bottom: 40px;
  line-height: 40px;
}
.contact-wrap > .address > p > i{
  font-size: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.contact-input label{
  display: block;
  line-height: 1.5;
  margin-bottom: 10px;
}
.contact-input .wrap{
  display: flex;
  justify-content: space-between;
}
.contact-input .wrap > p{
  width: 230px;
}
.contact-input .wrap > textarea{
  width: 240px; height: 130px;
  border:none; outline: none;
  padding:10px;
  box-sizing: border-box;
}

input[type=text]{
  width: 235px; height: 40px;
  border:none; outline: none;
  margin-bottom: 5px;
  padding:10px;
  box-sizing: border-box;
}
input[type=submit]{
  padding:6px 24px;
  background-color: #f9be20;
  border:none; outline: none;
  color:#fff;
  font-weight: bold;
  cursor: pointer;
}

#contact hr{
  border:1px solid #fff;
  margin:50px 0;
}
/*contact-hover효과*/
input[type=submit]:hover{
  background-color: #f5ae16;
}

/*footer===================*/
footer > .container{
  padding:30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p{
  padding-left: 95px;
}
footer span{margin-right: 30px;}
footer p a{
  background-color: #ff9;
}

footer .icon{
  display: flex;
}

/*사이드메뉴*/
.side{
  position: fixed;
  left:50%; top:20%;
  margin-left:500px;
  width: 100px;
  z-index: 999;
  color:#333;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}
.side .title{
  background-color: #666;
  padding:8px;
  box-sizing: border-box;
  color:#fff;
  font-weight: bold;
  letter-spacing: 1px;
}
.side li a{
  padding:12px;
  display: block;
}

.side li:hover{
  background-color:#f5ae16 ;
  color:#fff;
}

/*부라우저의 넓이가 1200이하일때 적용// 사이드바고정*/
@media (max-width:1200px){
  .side{
    left:auto; right:0;
    margin-left: 0;
  }
}
/*부라우저의 넓이가 1768이하일때 적용// 사이드바제거*/
@media (max-width:768px) {
  .side{
    display: none;
  }
}

/*탑버튼*/
.top{
  position: fixed;
  z-index: 999;
  bottom:20px; right: 50px;
  color:red;
  font-size:18px;
  font-weight: bold;
}

.top i{
  margin-right: 5px;
}